

<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container" id="navbarContainer">
        <div class="navbar-header" id="navbarHeader">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../" class="navbar-brand"><%= __("Chaton")%></a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%= __("home")%> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><%= __("My profile")%></a></li>
                        <li class="divider"></li>
                        <li><a href="#"><%= __("Log out")%></a></li>
                    </ul>
                </li>
            </ul>
            <p class="navbar-text navbar-right"><a href="#" class="navbar-link" id="usernameDisplay">????</a></p>
        </nav>
    </div>
    <div class="container banner" id="banner" >
        <svg class="banner" id="svgBanner">
        </svg>

    </div>
</header>
<section class="container" id="mainContent" >
    <div class="alert alert-warning">
        <%= __('Awaiting for logic initialization...')%>
    </div>
</section>

<script type="text/javascript">

    var svgBanner = Snap("#svgBanner");
    var pageModel = {
        userData: {
            username: m.prop("???"),
            authenticated: m.prop(false),
            code: m.prop(9999)
        },
        loginData: {
            username: m.prop(""),
            password: m.prop("")
        },
        debug: {
        },
        chatData: {
            onDeck: {
                threads: [],
                messages: [],
                contacts: []
            }
        }
    };


    var mainContentInitController = function () {

        var loginStatus = m.request({method: "GET", url: "/authentication/check"});
        if (loginStatus.authenticated)
        {
            pageModel.userData.authenticated(loginStatus.authenticated);
            pageModel.userData.username(loginStatus.username);
            pageModel.userData.code(loginStatus.code);

            m.route("/home");
        } else
        {

            pageModel.userData.authenticated(loginStatus.authenticated);
            pageModel.userData.username("");
            pageModel.userData.code(loginStatus.code);

            m.route("/login");
        }

    };

    var mainContentInitView = function () {
        return m("div", {role: "alert", class: "alert alert-warning"}, "<%= __('Initiating....')%>");
    };
    var loginPanelView = function (controller) {

        return m("div", {class: "panel panel-default"}, [
            m("div", {class: "panel-heading"}, [
                m("h1", {class: "panel-title"}, "<%= __('Login panel')%>")
            ]),
            m("div", {class: "panel-body"}, [
                m("form.form-horizontal", [
                    m(".form-group", [
                        m("label.col-sm-2.control-label[for='username']", "<%= __('Username')%>"),
                        m(".col-sm-10", [
                            m("input.form-control[id='username'][placeholder='<%= __('Username')%>'][type='text']", {onchange: m.withAttr("value", pageModel.loginData.username), value: pageModel.loginData.username()})
                        ])
                    ]),
                    m(".form-group", [
                        m("label.col-sm-2.control-label[for='password']", "<%= __('Password')%>"),
                        m(".col-sm-10", [
                            m("input.form-control[id='password'][placeholder='<%= __('Password')%>'][type='password']", {onchange: m.withAttr("value", pageModel.loginData.password), value: pageModel.loginData.password()})
                        ])
                    ]),
                    m(".form-group", [
                        m(".col-sm-offset-2.col-sm-10", [
                            m("button.btn.btn-default[type='submit']", {onclick: controller.doLogin}, "<%= __('Sign in')%>")
                        ])
                    ]),
                    "\n"
                ])
            ])
        ]);
    };
    var loginController = function () {

        this.doLogin = function () {

            //alert("username: " + pageModel.loginData.username());
            m.request({method: "POST", url: "/authentication/login",
                data: {
                    username: pageModel.loginData.username(),
                    password: pageModel.loginData.password()
                }
            }).then(function (loginStatus) {//success handler
                pageModel.userData.authenticated(loginStatus.authenticated);
                pageModel.userData.username(loginStatus.username);
                pageModel.userData.code(loginStatus.code);

                if (pageModel.userData.authenticated())
                {
                    pageModel.loginData.password("");
                    m.route("/home");
                } else
                {
                    pageModel.loginData.password("");
                    m.route("/login");
                }

            },
                    function (data) {//failure handler
                        pageModel.loginData.password("");
                        m.route("/login");
                    });

        };

    };

    var homeController = function () {

    };

    var mainContentHomeView = function () {

    };

    var pageInit = function ()
    {
        m.route.mode = "hash";
        m.route(document.getElementById("mainContent"), "/init", {
            "/init": {controller: mainContentInitController, view: mainContentInitView},
            "/login": {controller: loginController, view: loginPanelView},
            "/home": {controller: homeController, view: mainContentHomeView}
        });
        $("#banner").animate({height: "60px", opacity: 0.5}, 2000);
    };
    $(document).ready(pageInit);


</script>
